
.mjj-margin-page{
    margin-top: 60px;
}
/*Verif age utilisateur acceuil*/
.mjjVerifAcceuil{
    background-color: rgba(0, 0, 0, 0.966);
    left: 0;
    position: fixed;
    height: 100rem;
    width: 100%;
    display: flex;
    z-index: 50;
    flex-direction: column;
    align-items: center;
}
.mjjVerifAcceuil button{
    padding: 40px;
    margin: 10px 0;
    border-radius: 20px;
}
.mjjVerifAcceuil button:hover{
    background-color: rgb(59, 241, 35);
}
#app{
    min-height: 45rem;
    background: url('../assets/images/bookBackground.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
}
/*NAVBAR*/
.mjj-nav{
    background: url('../assets/images/book-background-3.png');
    background-position: bottom;
    background-size: auto;
    background-color: black;
    font-size: 1.2rem;
    font-weight: 900;
    border: 3px solid black;
    box-shadow: 2px 2px 2px black;
}
.mjj-nav img{
    width: 20rem;
    border-radius: 10%;
}
.mjj-nav-box{
    margin: 0 10px;
    border: 1px solid chartreuse;
    border-radius: 50%;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.795);
}
.mjj-nav-box:hover{
    box-shadow: 0px 0px 10px rgb(229, 255, 0);;
}
.colorRouter{
    color: rgb(128, 238, 18) !important;
}
.colorRouter:hover{
    text-shadow: 0px 0px 10px rgb(229, 255, 0);
}
/*ARRIERE BOUTIQUE*/
.colorRouterPink{
    color: rgb(255, 45, 244) !important;
}
.colorRouterPink:hover{
    text-shadow: 0 0 10px yellow;
}
.pinkBorder{
    border: solid 3px rgb(255, 45, 244) ;
}
.pinkBorder:hover{
    box-shadow: 0 0 10px violet;
}

.carousel{
    margin-top: 60px;
    width: 80%;
}
main{
    margin-top: 40px;
}
h1{
    font-family: 'Oleo Script', cursive;
    padding-top: 60px;
    font-weight: bold;
    color: rgb(252, 225, 107);
    text-shadow: 3px 3px 3px grey;
}
/*p, span{
    font-family: 'Oleo Script', cursive;
    padding-top: 60px;
    font-weight: bold;
    text-align: center;
}
p{
    color: white;
    font-size: 20px;
} */
/*******************CARDS*****************************/
.cards {
    text-align: center;
    word-wrap: break-word;
}
.cards img{
    border-radius: 10%;
    height: 250px;
}
.btnCards{
    border-radius: 100%;
    background-color: rgba(0, 245, 82, 0.61);

}
.btnCards:hover{
    background-color: rgb(81, 250, 137);

}
.cards p,.cards span,h5 {
    color: white;
}
.cards p{
    max-height: 200px;
    overflow-y: scroll;
}
/*******************JUMBOTRON ACCEUIL******************************/
.mjjJumbo{
    background-image: url('../assets/images/libraryLuxe.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    box-shadow: 1px 0px 15px rgb(208, 255, 0);
}
.mjjJumbo p{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.829);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: auto;
}
.lead{
    width: 250px !important;
}
/****************PAGE CONTACT***************************/
.mjjalertform{
    border: red solid 3px !important; 
}
.textFormAlert{
    color:red;
    font-size: 20px;
    font-weight: bold;
}
.mjjform{
    width: 700px;
}
.mjjFormValid{
    border: green 4px solid;
    background-color: grey;
    width: 800px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}
.fondu-enter-active,
    .fondu-leave-active {
      transition: opacity 1s;
    }
.fondu-enter,
.fondu-leave-to {
      opacity: 0;
    }
.contacts p{
    color: rgb(240, 203, 196);
    font-size: 20px;
} 
.contacts label{
    color: rgb(255, 212, 71);
    font-weight: 900;
    text-shadow: 0 0 3px black;
}
.contacts h1,
.contacts p{
    text-align: center;
}
    /*********************LIVRE D'OR*****************************/
.mjj-livreOr{
    background-image: url('../assets/images/livreOr.png');
    background-position: center center;
    background-size: 80%;
    background-repeat: no-repeat;
   /* min-width: 1000px;
    min-height: 1000px;*/
    color: black;
    font-family: 'Oleo Script', cursive;
}


/*********************FOOTER*****************************/

footer{
    
    background-color: black;
    color: white;
    min-height: 2rem;
    text-align: center;
    font-weight: bold;
}
/*****************BOUTIQUE********************/
.boutique h3{
    color: rgb(12, 206, 6);
    font-weight: bolder;
}
.mjjsearchBar{
    margin-bottom: 30px;
}
.mjjPanier{
    background-color: rgba(128, 128, 128, 0.904);
    border: solid black 1px;
}
.mjjPanier img{
    width: 60px;
    height: auto;
    
}
.iconePanier{
    width: 50px;
}
.panierLgt{
    position: relative;
    right: 0;
    background-color: rgb(4, 0, 255);
    padding: 3px;
    border-radius: 100%;
}
.mjjCardsBuy{
    display: flex;
    flex-direction: column;     
    width: 200px;
    border: solid black 2px; 
    border-radius: 3px;
    margin: 5px;       
}
.mjjBlockPanier{
    position: fixed;    
    top: 110px;
    right: 15px;
}
.btnAchat{
    border-radius: 10%;
    background-color: rgb(66, 62, 250);
}
.btnAchat:hover{
    border-radius: 10%;
    background-color: rgb(4, 0, 255);
}
.fantastique{
    background-color: rgba(57, 199, 255, 0.63);
}
.thriller{
    background-color: rgba(128, 0, 0, 0.63);
}
.manga{
    background-color: rgba(116, 255, 74, 0.63);
}
.mangaX{
    background-color: rgba(245, 157, 172, 0.932);
}


/*******************************************************************/
/***************************RESPONSIVE*******************************/



@media (max-width: 768px){
    .mjj-margin-page{
        margin-top: 100px;
    }     
    .mjjCardsBuy{        
        width: 80%;
    }  
    .cards img{
        width: 70%;
        height: auto;
    }
    .mjjBlockPanier{
        position: fixed;    
        top: 150px;
        right: 15px;
    }
    .colorRouter{
        color: rgb(128, 238, 18) !important;
        font-size: 0.7rem;
        padding: 1px;
    }
    
    .mjj-nav-box{
        border: 1px solid chartreuse;
        border-radius: 100%;
        background-color: rgba(0, 0, 0, 0.795);
        padding: 1px;
    }
    .mjj-nav-box:hover{
        box-shadow: 0px 0px 10px rgb(229, 255, 0);;
    }
    .colorRouterPink{
        color: rgb(255, 45, 244) !important;
        font-size: 0.7rem;
    }
    .pinkBorder{
        border: solid 3px rgb(255, 45, 244) ;
    }
}